.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--element-drastic-margin);
    padding: var(--element-drastic-margin);
    background-color: var(--web-bg-color);
}

.cards-container .card {
    flex: 1 1 calc(22% - var(--element-drastic-margin));
    min-width: 250px;
    max-width: 300px;
    height: auto;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: var(--element-padding);
}

.cards-container a {
    text-decoration: none;
    color: black;
}

body.dark-mode .cards-container a {
    color: white;
}

.status {
    color: red;
}

.status.active {
    color: green;
}

.cards-container .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-bg-color);
}

.cards-container .card.no-hover:hover {
    transform: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg-color);
}

.cards-container .title {
    font-size: 1.25em;
    font-weight: bold;
    margin: var(--element-padding) 0;
}

.cards-container .description {
    font-size: 1em;
    margin: var(--element-margin);
    color: var(--main-border-color);
}
